name: main

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: #For manual workflow
  
env:
  GIT_SHA: "$(git rev-parse --short HEAD)"
  
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      run: go build -v ./...
      
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build -f Dockerfile -t mayr08/demo:latest ./
      
    - name: Test
      run: go test -v ./...
      
    - name: Login to DockerHub (other way)
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

           
  #  - name: Login to DockerHub (other way) 
  #    run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
 
      
    #- name: Git SHA
     # run: docker tag mayr08/demo:latest mayr08/demo:${{ github.sha }}
    
    #- name: Push Docker Image
     # run: docker push mayr08/demo:${{ github.sha }}
 
    - name: Build and push Docker images
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        dockerfile: Dockerfile
        tags: |
          mayr08/demo:${{ github.sha }}
          mayr08/demo:latest



   
