name: main

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: #For manual workflow

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      run: go build -v ./...
      
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build -f Dockerfile -t mayr08/demo:latest ./
      
    - name: Test
      run: go test -v ./...
      
    - name: login to DockerHub
      run: echo "$REGISTRY_PASSWORD" | docker login --username $REGISTRY_USER --password-stdin
      
    - name: Push Docker Image
      run: docker push mayr08/demo:latest
   
